<span class="text-muted">
  View SCSU API Data
    // <a href="./api/contacts">Contacts </a>
    // <a href="./api/clocking/entries">Clocking </a>
    // <a href="./api/clocking/entries/:id">Get Clocking by ID </a>
    // <a href="./api/clocking/stu/:student">Get Clocking by Student </a>
    // <a href="./api/cntTimesheets">cntTimesheets </a>
    // <a href="./api/drop/projects">Projects Dropdown </a>
    // <a href="./api/drop/category">Category Dropdown </a>
    // <a href="./api/drop/sponsor">Sponsor Dropdown </a>
    // <a href="./api/drop/students">Students Dropdown </a>
    // <a href="./api/drop/faculty">Faculty Dropdown </a>
    // <a href="./api/drop/requestors1">Requestors Dropdown </a>
    // <a href="./api/drop/requestors2">Requestors Dropdown 2 </a>
    // <a href="./api/faculty">Faculty </a>
    // <a href="./api/faculty/:user">Get Faculty By User </a>
    // <a href="./api/prj">Projects </a>
    // <a href="./api/students">Students </a>
    // <a href="./api/students/:user">Get Students by ID </a>
    // <a href="./api/task">Task </a>
    // <a href="./api/task/status/:status">Get Tasks by Status </a>
    // <a href="./api/task/stu/:student">Get Tasks by Student </a>
    // <a href="./api/task/prj">Task by Project </a>
    // <a href="./api/task/prj/:project_id">Task by Project ID </a>
    // <a href="./admin">Admin </a>
    // <a href="./api/clocking/entries/:id">Get Clocking by ID </a>
    // <a href="./api/contacts">Contacts </a>
    // <a href="./api/clocking/entries">Clocking </a>
    // <a href="./api/clocking/entries/:id">Get Clocking by ID </a>
    // <a href="./api/clocking/entries/:id">Get Clocking by ID </a>
    // <a href="./api/contacts">Contacts </a>
    // <a href="./api/clocking/entries">Clocking </a>
    // <a href="./api/clocking/entries/:id">Get Clocking by ID </a>
    // <a href="./api/clocking/entries/:id">Get Clocking by ID </a>
</span>