<span class="text-muted">
  View SCSU API Data 
    // <a href="./api/students"> Student List </a>
    // <a href="./api/prj"> Project List </a>
    // <a href="./api/task"> Task List </a>
    // <a href="./api/faculty"> Faculty List </a>
    // <a href="./api/cntTimesheets/limit=50/"> Last 50 Timesheet Entries </a>
    // <a href="./api/cntTimesheets/limit=50/Batteries & Chips"> Batteries Projecct Log</a>
    // <a href="./api/clocking/entries"> Punch Clock </a>
</span>