{{#if this.studentName.length}}
<tr id="form-row">
    <td colspan="12">
        <br>
        <form class="index-form">
            <div class="form-group">
                <label for="auth">Date:</label>
                    <input placeholder="Enter the date" id="date" value="" type="date" />
            </div>
            <div class="form-group" id="timeForm">
                <label for="Time">Time:</label>
                    <input type="time" id="timeInput" name="timeInput">
            </div>
            {{!-- <div class="form-group">
                <label for="deptSelect">Dept:</label>
                    <select class="custom-select" id="deptSelect" name="deptSelect">
                        <option value="cnt">CNT</option>
                        <option value="iHub">iHUB</option>
                    </select>
            </div> --}}
            <div class="form-group">
                <label for="name">Name:</label>
                    <select placeholder="Select Student" class="custom-select" id="inputGroupStudent" name="studentSelect">
                    </select>
            </div>
            <div class="form-group">
                <label for="name">Clock Type:</label>
                    <select placeholder="In/Out" class="custom-select" id="in-out">
                        <option value="Time In">Time In</option>
                        <option value="Time Out">Time Out</option>     
                    </select>
            </div>
            <div style="display: flex; justify-content: center; align-tiems: center;">
                <button type="submit" class="btn btn-success" id="submit">Submit</button>
            </div>
    </td>
</tr>
{{/if}}
<tr>
    <th>Record#</th>
    <th>Name</th>
    <th>Date</th>
    <th>In/Out</th>
    <th>Time</th>
    {{#if this.studentName.length}}
    {{!-- <th>Duplicate</th> --}}
    <th>Update</th>
    <th>Delete</th>
    {{/if}}
</tr>