<tr id="form-row">
    <td colspan="12">
        <br>
        <label for="task">Company:</label>
        <select class="custom-select" id="inputGroupCompany">
        </select>
        <br>
        <br>
        <label for="auth">Date:</label>
        <input placeholder="Enter the date" id="date" value="" type="date" />
        <br>
        <p style="font-size: x-small;">*Required field: Please use 9999 for Admin</p>
        <label for="program">Porject:</label>
        <input placeholder="  Enter an RFB#" id="inputGroupProgram" type="number" />
        <br>
        <br>
        <label for="notes">Notes:</label>
        <input placeholder="Enter Notes" id="inputGroupNotes" type="text"
            style="width: -webkit-fill-available; height: 100px;" />
        <br>
        <div style="display: flex; justify-content: center; align-tiems: center;">
            <button type="submit" class="btn btn-success" id="timeSubmit">Add Entry</button>
        </div>
    </td>
</tr>
<tr>
    <th>Log#</th>
    <th>Name</th>
    <th>Date</th>
    <th>Project</th>
    <th>Notes</th>
    <th>Duplicate</th>
    <th>Update</th>
    <th>Delete</th>
</tr>