    <footer class="footer">
        <div class="footer-links">
            <a href="#">Contact Us</a>
            <a href="#">Work At Southern</a>
            <a href="#">Host An Event</a>
            <a href="#">Library</a>
            <a href="#">Accessibility</a>
            <a href="#">Website Feedback</a>
            <a href="#">Accreditation</a>
            <a href="#">Title IX</a>
        </div>
        <div class="footer-logo">
            <img src="https://www.southernct.edu/sites/default/files/scsu-logo.png" alt="Southern Connecticut State University Logo">
        </div>
        <div class="footer-contact">
            501 Crescent Street, New Haven, CT 06515 | (203) 392-SCSU | © 2024 Southern Connecticut State University.
        </div>
    </footer>