<section class="gallery-container">
    <div class="gallery" id="gallery">
        <button class="prev">&#10094;</button>
        <img id="gallery-image" src="/public/assets/img/slides/Slide1.jpg" alt="Gallery Image">
        <button class="next">&#10095;</button>
    </div>
</section>