<tr id="form-row">
    <td colspan="12">
        <br>
        <form class="index-form">
            <label for="deptSelect">Department:</label>
            <select class="custom-select" id="deptSelect" name="deptSelect">

                <!--tried to get handlebars to handle if statement to change the order of the options-->

                <option value="Engineering">Engineering</option>
                <option value="Manufacturing">Manufacturing</option>
                <option value="Program Management">Program Management</option>
                <option value="Certification">Certification</option>
            </select>
            <label for="name">Name:</label>
            <select placeholder="Select Employee" class="custom-select" id="inputGroupEmployee">
            </select>
            {{!-- <label for="category">Category:</label>
            <select placeholder="Enter the Category" class="custom-select" id="inputGroupCategory">
            </select> --}}

            <div style="display: flex; justify-content: center; align-tiems: center;">
                <button type="submit" class="btn btn-success" id="Search">Search</button>
            </div>
    </td>
</tr>
<tr>
    <th>Log#</th>
    <th>Name</th>
    <th>Date</th>
    <th>Category</th>
    <th>Task</th>
    <th>Time Spent</th>
    <th>Program</th>
    <th>ECR</th>
    <th>Notes</th>
</tr>