<tr id="form-row">
    <td colspan="12">
        <br>
        <form class="index-form">
            <label for="deptSelect">Dept:</label>
            <select class="custom-select" id="deptSelect" name="deptSelect">

                <!--tried to get handlebars to handle if statement to change the order of the options-->

                <option value="cnt">CNT</option>
                <option value="iHub">iHUB</option>
            </select>
            <label for="name">Name:</label>
            <select placeholder="Select Student" class="custom-select" id="inputGroupStudent">
            </select>
            <label for="task">Project:</label>
            <select class="custom-select" id="inputGroupProject">
            </select>
            <label for="category">Category:</label>
            <select placeholder="Enter the Category" class="custom-select" id="inputGroupCategory">
                <option value="Daily Log">Daily Log</option>
                <option value="Weekly Goal">Weekly Goal</option>
                <option value="Meeting Minutes">Meeting Minutes</option>          
            </select>

            <div style="display: flex; justify-content: center; align-tiems: center;">
                <button type="submit" class="btn btn-success" id="Search">Search</button>
            </div>
    </td>
</tr>
<tr>
    <th>Log#</th>
    <th>Name</th>
    <th>Date</th>
    <th>Project</th>
    <th>Category</th>
    <th>Notes</th>
    {{!-- <th>Duplicate</th>
    <th>Update</th>
    <th>Delete</th> --}}
</tr>