<tr id="form-row">
    <td colspan="12">
        <br>
        <label for="task">Company:</label>
        <select class="custom-select" id="inputGroupCompany">
        </select>
        <br>
        <br>
        <label for="auth">Date:</label>
        <input placeholder="Enter the date" id="date" value="" type="date" />
        <br>
        <p style="font-size: x-small;">*Required field: Please use 9999 for Admin</p>
        <label for="program">Program:</label>
        <input placeholder="  Enter an RFB#" id="inputGroupProgram" type="number" />
        <br>
        <br>
        <label for="ecr">ECR:</label>
        <input placeholder="  Enter an ECR#" id="inputGroupEcr" type="number" />
        <br>
        <label for="name">Name:</label>
        <select placeholder="Select Employee" class="custom-select" id="inputGroupEmployee">
        </select>
        <label for="category">Category:</label>
        <select placeholder="Enter the Category" class="custom-select" id="inputGroupCategory">
        </select>
        <br>
        <label for="task">Task:</label>
        <select placeholder="Enter a task" class="custom-select" id="inputGroupTask">
        </select>
        <br>
        <label for="task type">Task Type:</label>
        <select class="custom-select" id="inputGroupType">
        </select>
        <br>
        <label for="time">Time:</label>
        <select placeholder="Enter time" class="custom-select" id="inputGroupTime">
        </select>
        <br>
        <br>
        <label for="notes">Notes:</label>
        <input placeholder="Enter Notes" id="inputGroupNotes" type="text"
            style="width: -webkit-fill-available; height: 100px;" />
        <br>
        <div style="display: flex; justify-content: center; align-tiems: center;">
            <button type="submit" class="btn btn-success" id="timeSubmit">Add Entry</button>
        </div>
    </td>
</tr>
<tr>
    <th>Log#</th>
    <th>Name</th>
    <th>Date</th>
    <th>Category</th>
    <th>Task</th>
    <th>Time Spent</th>
    <th>Program</th>
    <th>ECR</th>
    <th>Notes</th>
    <th>Duplicate</th>
    <th>Update</th>
    <th>Delete</th>
</tr>