<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="header">Time Management KPI Dashboard</h1>
        <h1 class="header">Engineering</h1>
        <br>
        <br>
        <h3 class="header" id="daily-capacity"></h3>
        <h3 class="header" id="weekly-capacity"></h3>
        <h3 class="header" id="monthly-capacity"></h3>
    </div>
</div>
<div class="container mt">
    <h1 class="text-center">Weekly - Last 7 Days</h1>
    <div class="row mt">
        {{!-- <div class="col-md-6">
            <canvas id="canvas"></canvas>
        </div> --}}
        <div class="col-md-6">
            <canvas id="canvas5-weekly"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="canvas2-weekly"></canvas>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row mt">
        <div class="col-md-6">
            <canvas id="canvas3-weekly"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="canvas4-weekly"></canvas>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="container mt">
    <h1 class="text-center">Monthly - Last 30 Days</h1>
    <div class="row mt">
        {{!-- <div class="col-md-6">
            <canvas id="canvas"></canvas>
        </div> --}}
        <div class="col-md-6">
            <canvas id="canvas7-monthly"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="canvas8-monthly"></canvas>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row mt">
        <div class="col-md-6">
            <canvas id="canvas9-monthly"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="canvas10-monthly"></canvas>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="container mt">
    <h1 class="text-center">Quarterly - Last 90 Days</h1>
    <div class="row mt">
        {{!-- <div class="col-md-6">
            <canvas id="canvas"></canvas>
        </div> --}}
        <div class="col-md-6">
            <canvas id="canvas11-quarterly"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="canvas12-quarterly"></canvas>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row mt">
        <div class="col-md-6">
            <canvas id="canvas13-quarterly"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="canvas14-quarterly"></canvas>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    {{> api-data}}
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="assets/js/stats-weekly.js"></script>
<script src="assets/js/stats-monthly.js"></script>
<script src="assets/js/stats-quarterly.js"></script>