<br>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="header">SCSU Center for Nanotechnology Timekeeper</h1>
    <h2 class="subheader">A Student Activity Manager Tool</h2>
  </div>
</div>
<div id="maincontainer" class="card sticky">
  <div class="card-body p-5">
    <h2 class="font-weight-light"> Timekeeper Manifesto
    </h2>
    <br>
    <h4> The timekeeper allows students to log their activies with a few inputs and a simple submit button. The user friendly interface allows students to track experiments and project progress, evaluate project resources, as well as
      provide key KPI metrics for faculty to quickly view porjects and report on. This tool can provide students and department heads the visibility of active projects and tasks completed in real time. 
      <br>
      <br>
      The <i><b>goal</b></i> of the timekeeper is to validate our project resources and provide feedback for successful level-loading of student activities in line with project goals and deliverables.
    </h4>
    <br>
  </div>
      <img
      src="/assets/img/logo.png" alt="logo" class="responsive"/>
  <br>
  <div class="card sticky"></div>
  <div class="card-body p-5">
    <h2 class="font-weight-light"> Simple User Interface </h2>
    <h4> Employees are able to submit their own timesheets to log hours worked outside of the office and overtime hours.
    </h4>
  </div>
  <div class="card ">
    <div class="card-body p-5">
      <h2 id="includethis"> Include the following for <i>easy</i> timesheet management.</h2>
      <h5> Date: Today's Date </h5>
      <br>
      <h5> Name: Employee's Name </h5>
      <br>
      <h5> RFB: program number </h5>
      <br>
      <h5> ECR: engineering change requests </h5>
      <br>
      <h5> Category: select scope of work </h5>
      <br>
      <h5> Task: main task for hours worked. </h5>
      <br>
      <h5> Time: log your time! </h5>
      <br>
      <h5> Include any additional notes for user, program manager, or department manager visibility. </h5>
    </div>
  </div>