<h2>Login</h2>
<form action="/login" method="POST">
    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>

    <p>Don't have an account? <a href="/register">Register here</a></p>
</form>